DATABASE_URL=postgresql://postgres:postgress23@localhost:5432/hospital_db

SECRET_KEY=change_this_to_a_long_random_secret

GEMINI_API_KEY=AQ.Ab8RN6K-XKcFg6WNi-K78s5nZ9V-yuAfGM5ai3Vh_drFmQz3Pg

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=60